input{
    width: 100%;
    border-width: 1px;
    border-width: 1px;
    border-style: solid;
    display: flex;
    font-family: 'sdays', 'arial', sans-serif;
}
::placeholder {
    font-family: 'sdays', 'arial', sans-serif;
  }