#titulo{
    color: #EAEAEA;
}
#Trick{
    color: #FAF76B;
}
#Tmorty{
    color: #F7C49D;
}
/*.container-fluid{
    /*border-width: 1px;
    border-style: solid;
}*/
#navbar1{
    justify-content: center;
    align-items: center;
}
#navbar2{
    justify-content: center;
    align-items: center;
}
#search{
    margin-right: 20px;
}
a{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'sdays', 'arial', sans-serif;
    font-size: 25px;
}
.nav-item{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'sdays', 'arial', sans-serif;
    font-size: 20px;
}
@media(max-width:570px){
    #search{
        width: 200px;
    }
}