<nav class="navbar navbar-expand-lg" id="navbar1">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" id="titulo"><span id="Trick">Rickan</span><span id="Tmorty">dMorty</span>APP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white ml-5 mr-5" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/about">Acerca de</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>
      <nav class="navbar navbar-expand-lg" id="navbar2">   
      <a class="navbar-brand" href=""><img src="/assets/imgs/cabeza-rick.png" width="60" height="60" alt=""></a>
      <div class="col-xs-12 col-sm-12 col-md-6" id="search">
        <app-busqueda></app-busqueda>
      </div>
      <a class="navbar-brand" href=""><img src="/assets/imgs/cabeza-morty.png" width="60" height="60" alt=""></a>
  </nav>
