<div class="container-fluid h-100 mt-1 mb-1">
  <!--Se crea una card para hablar acerca de la aplicación-->
  <div class="card text-center">
    <div class="card-header">
      Angular Developer
    </div>
    <div class="card-body">
      <h5 class="card-title">RickandMortyAPP</h5>
      <p class="card-text">Aplicación diseñada para la prueba tecnica de la empresa EnEquipo.</p>
      <p class="card-text">La aplicación cuenta con una vista de todos los personajes de la <br> 
                          serie Rick and Morty, allí se puede visualizar la imagen, nombre, <br>   
                          estado, especie, ultima localización y ultimo episodio <br>
                          de cada personaje.</p>
      <p class="card-text">Tambien la pagina de inicio cuenta con una barra de busqueda para <br>  
                          encontrar el personaje deseado.</p>
      <p class="card-text">Seleccionando un personaje, redirecciona a una vista donde se <br>  
                          puede ver a detalle la información del personaje anexando los <br> 
                          episodios donde ha aparecido.</p>
      <p class="card-text">Los personajes cuentan con un botón que redirecciona a la <br>  
                          ubicación en la vista se puede observa los datos de la locacion <br> 
                          anexando los residentes de la localización.</p>
      <p class="card-text">La aplicación cuenta con infinite scroll para poder visualizar <br>  
                          todos los personajes ademas de un botón para volver al inicio <br> 
                          de la pagina.</p>
    </div>
    <div class="card-footer text-muted">
      Diseñado por: Juan Felipe Rodriguez Rendón <br>
      Celular: +57 3004830728
    </div>
  </div>>
</div>
