<div class="row" infinite-scroll  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="scrollAbajo()">
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let personaje of personajes">
        <div class="card">
            <div class="image">
                <a [routerLink]="['/detalles-personaje', personaje.id]">
                    <img class="card-img-top" [src]="personaje.image" [alt]="personaje.name">
                </a>
            </div>
            <div class="card-inner">
                <div class="header">
                    <div class="row">
                        <div class="col">
                            <figure class="favorite mt-1 mb-1">
                                <a>
                                    <img class="card-img-top" (click)="favorito()" src="/assets/imgs/{{getIcon()}}" rel="preload">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <a class="text-center" [routerLink]="['/detalles-personaje', personaje.id]" id="titulo_personaje">
                        <h3>{{ personaje.name | slice: 0:16 }}</h3>   
                    </a>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" [routerLink]="['/detalles-personaje', personaje.id]">
                            <div class="row">
                                <div class="col">
                                    <label for="">Estado:</label>
                                </div>
                                <div class="col">
                                    {{ personaje.status }}
                                </div>    
                            </div>  
                            
                        </li>
                        <li class="list-group-item" [routerLink]="['/detalles-personaje', personaje.id]">
                            <div class="row">
                                <div class="col">
                                    <label for="">Especie:</label>
                                </div>
                                <div class="col">
                                    {{ personaje.species }}
                                </div>    
                            </div>  
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col">
                                    <label for="">Ubicación:</label>
                                </div>
                                <div class="col">
                                    <a [routerLink]="['/detalles-ubicacion', personaje.id]">{{ personaje.location | json | slice: 13:21 }}</a>
                                </div>    
                            </div>  
                        </li>
                        <li class="list-group-item" [routerLink]="['/detalles-personaje', personaje.id]">
                            <div class="row">
                                <div class="col">
                                    <label for="">Ultimo Episodio:</label>
                                </div>
                                <div class="col">
                                    {{ personaje.episode | json | slice: 1:49 }}
                                </div>    
                            </div>  
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 mt-5 container-notFound" *ngIf="personajes.length <= 0">
        <p>Sin Resultados</p>
    </div>
</div>
<button class="btn btn-dark" [ngClass]="'no-hidden'" *ngIf="mostrarBotonArriba" (click)="scrollArriba()">Subir</button>
